
  /* instructor start */
  .instructor_page_text {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px !important;
  }

  .instructor_wrapper {
    margin: auto;
  }

  .instructor_wrapper h2 {
    margin-bottom: 32px !important;
    padding: 0 24px;
  }

  .info_links img {
    width: 22px;
    height: 22px;
  }

  .info_links {
    position: absolute;
    right: 0;
    bottom: 12px;
    display: flex;
    gap: 23px;
    align-items: center;
  }

  .col-lg-4 { 
    padding-right: 24px;
    padding-left: 24px;
  }

  .instructor_wrapper .col-lg-4 {
    margin-bottom: 32px;
  }

  .instructor_wrapper h3 {
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 8px;
  }

  /* instructor end */