
/* how it works start */
.howItWorks_title {
    font-size: 44px;
    font-weight: 700;
    font-family: 'Syne', sans-serif;
  }
  
  .works_wrapper .works_img {
    padding: 25px;
    border-radius: 23px;
    background-color: red;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 12px;
  }
  
  .works_wrapper h3 {
    margin-bottom: 8px;
    font-family: 'Syne', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600 !important;
    color: var(--neutralColor);
  }
  
  .works_wrapper p {
    color: var(--textColor2);
    font-size: 18px;
  }
  
  .works_wrapper1 .works_img {
    padding: 25px;
    border-radius: 23px;
    background-color: red;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 12px;
  }
  
  .works_wrapper1 h3 {
    margin-bottom: 8px;
    font-family: 'Syne', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: var(--neutralColor);
  }
  
  .works_wrapper1 p {
    color: var(--textColor2);
    font-size: 18px;
  }
  
  .works_wrapper {
    position: relative;
  }
  
  .works_wrapper::after {
    position: absolute;
    content: url('../../assets/home1/curve3.png');
    top: 38px;
    left: 211px;
    z-index: -1;
  }
  
  .wrapper_2::after {
    position: absolute;
    content: url('../../assets/home1/curvemiddle.png');
    top: 5px;
    left: 212px;
  
    /* transform: rotate(180deg); */
  }
  
  .howItWorks_wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  
  @media (max-width:1440px) {
  
    .works_wrapper::after,
    .wrapper_2:after {
      content: none;
  
    }
  }
  
  @media (max-width:990px) {
    .howItWorks_wrapper {
      grid-template-columns: auto auto !important;
    }
  }
  
  @media (max-width:500px) {
    .howItWorks_wrapper {
      grid-template-columns: auto auto !important;
      gap: 48px;
    }
  
    .works_wrapper .works_img,
    .works_wrapper1 .works_img {
      width: 60px;
      height: 60px;
      padding: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .works_wrapper h3,
    .works_wrapper1 h3,
    .works_wrapper p,
    .works_wrapper1 p {
      font-size: 14px;
    }
  }
  
  @media (max-width:768px) {
    .img_rotate {
      position: absolute;
      left: -10px;
      top: 50%;
      height: 62px;
      animation: animName 5s linear infinite;
      width: 62px;
    }
  
    .howItWorks_title {
      font-size: 24px;
      font-weight: 500;
      font-family: 'Syne', sans-serif;
    }
  
  }
  
  .modal-backdrop {
    position: relative;
  }
  
  .modal-header button {
    position: absolute;
    color: white;
    right: 0;
    z-index: 1;
    padding: 0;
    font-size: 23px;
  }
  .modal_video_h{
    height: 700px;
  }
  
  /* how it works end */