

/* Header Start */

.navbar {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  
  .navbar-nav {
    gap: 32px;
  }
  
  .nav-link i {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    font-style: normal;
  }
  
  .nav-link {
    color: var(--neutralColor);
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    font-style: normal;
    width: 64px !important;
    margin: auto;
  }
  
  .nav-item :hover {
    color: #B6EC3D;
    cursor: pointer;
  
  }
  
  .navbar-nav .nav-link.active {
    color: #B6EC3D;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-item.active,
  .dropdown-item:active {
    color: #B6EC3D;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  
  .navbar-toggler {
    border: none;
    padding: 0;
  }
  
  :focus-visible {
    outline: none;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }
  
  .authBtn a {
    padding: 10px;
    border-radius: 11px;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    border: 1px solid transparent;
  }
  
  .authBtn a:first-child {
    background-color: transparent;
    color: var(--initialColor);
    transition: 0.6s ease-in-out;
  }
  
  .signup_button {
    border-radius: 11px;
    background: var(--color-option-neutral-color-1, #131C1E);
    box-shadow: 0px 4px 24px 0px rgba(19, 28, 30, 0.25);
    color: var(--neutralColor2);
  }
  
  
  /* Responsive Header Start */
  @media only screen and (max-width:1170px) {
    .navbar-nav {
      gap: 25px;
    }
  }
  
  @media only screen and (max-width:1024px) {
    .navbar-nav {
      gap: 30px;
    }
  }
  
  @media only screen and (max-width:991px) {
    .authBtn {
      flex-direction: column;
      gap: 25px;
      justify-content: center;
      align-items: center;
  
    }
  
    .authBtn a {
      width: max-content;
    }
  
    .navbar-nav {
      gap: 25px;
      padding-bottom: 25px;
    }
  
    .signup_button {
      width: 50%;
      margin: auto;
    }
  }
  
  @media only screen and (max-width:330px) {
    .navbar-brand {
      margin-right: 0 !important;
    }
  
    .logoImg {
      max-width: 200px;
    }
  }
  
  /* Responsive Header End */
  /* Header End */
  