
/* establishing a community start */
.community_wrapper {
    padding: 153px 0;
    background-color: var(--neutralColor);
  }
  
  .community_wrapper h1 {
    font-size: 44px;
    font-weight: 700;
    font-family: 'Syne', sans-serif;
    color: var(--neutralColor2);
  }
  
  .community_points span {
    font-size: 18px;
    font-weight: 500;
    color: var(--neutralColor2);
    text-transform: capitalize;
    text-align: start !important;
  }
  
  .community_btns {
    margin-top: 48px;
    display: flex;
    gap: 24px;
    align-items: center;
  }
  
  .contact_footer {
    margin-top: 530px !important;
  }
  
  .contact_bg_small {
    display: none;
  }
  
  /* responsive start */
  @media (max-width:768px) {
    .modal_video_h{
      height: 400px;
    }
    
    .mt_130 {
      margin-top: 50px;
    }
  
    .contact_footer {
      margin-top: 773px !important;
    }
  
    /* contact us */
    .contact_bg .large_contact {
      display: none;
    }
  
    .contact_bg .contact_bg_small {
      display: block;
      height: 483px;
    }
  
    .contact_form_parent {
      margin-top: -133px !important;
    }
  
    /* .contact_wrapper .col-lg-4 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    } */
  
    .contact_wrapper {
      padding: 22px !important;
  
    }
  
    /* 
    .contact_wrapper .col-lg-6 {
      padding-left: 0;
      padding-right: 0
    } */
  
    .membership_wrapper p {
      font-size: 12px !important;
    }
  
    .community_wrapper {
      padding: 48px 24px 64px;
    }
  
    .community_rows {
      flex-direction: column-reverse;
    }
  
    .community_points {
      margin-bottom: 18px;
    }
  
    .mb_24 {
      margin-bottom: 0;
    }
  
    .community_btns {
      margin-bottom: 48px;
      margin-top: 16px;
      gap: 13px;
    }
  
    .know_more_btn {
      font-size: 14px;
      width: 157px;
  
    }
  
    .phone_btn {
      font-size: 14px;
      width: 157px;
  
    }
  
  }
  
  /* button hover */
  
  .hover_img_block {
    display: none;
    transition: ease-in-out 0.3s;
  }
  
  .know_more_btn:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
    transition: ease-in-out 0.3s;
  }
  
  .know_more_btn:hover .hover_img_block {
    display: block;
    transition: ease-in-out 0.3s;
  }
  
  .know_more_btn:hover .hover_img {
    display: none;
    transition: ease-in-out 0.3s;
  }
  
  .greenButton:hover {
    background-color: #EEE;
  }
  
  .about_btn {
    transition: ease-in-out 0.3s;
    border: 1px solid #B6EC3D;
  
  }
  
  .about_btn:hover {
    background-color: transparent;
    color: #B6EC3D;
    border: 1px solid #B6EC3D;
  
  }
  
  /* .phone_btn:hover .hover_img_block {
    display: block;
    transition: ease-in-out 0.3s;
  }
  .phone_btn:hover {
    color: black;
    background-color: white;
  } */
  .blog_date button:hover {
    background-color: white;
    color: black;
    border: 1px solid #131C1E;
    transition: ease-in 0.3s;
  }
  
  /* responsive end */
  
  /* establishing a community end */