.home3::-webkit-scrollbar {
    width: 10px;
}

.home3::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.home3::-webkit-scrollbar-thumb {
    background: #FFD452;
    border-radius: 10px;
}

.home3 .nav-item :hover {
    color: #FFD452 !important;
}

.home3 .navbar-nav .nav-link.active {
    color: #FFD452 !important;

}

.grey_text_1 {
    color: var(--Color-Option-Text-Color-2, #BCBCBC);
    /* B1/Body 1 (Regular) */
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.home3_bg {
    background: #1A2224;
    padding: 100px 0;
}



.home3 ul>li>a {
    color: #fff !important;
}

.dropdown-toggle::after {
    display: none;
}

.home3 .dropdown-toggle::after {
    display: inline-block;
    margin-left: 2px !important;
    vertical-align: -5px !important;
    content: "";
    height: 18px;
    width: 18px;
    border-top: 0 !important;
    border-right: none !important;
    border-bottom: 0 !important;
    border-left: none !important;
    /* background-image: url(../assets/home3/white-down.png) !important; */
}

.home3 .dropdown-item {
    color: #131c1e !important;

}

.home3 .banner_title {
    font-family: 'Syne', sans-serif;
    color: var(--neutralColor2);
    font-size: 60px;
    font-weight: 700;
}

.home3 .banner_title span {
    color: var(--secondarycolor);
    border-radius: 10px;
    padding: 0 10px;
    background-color: transparent;
}


.home3 .greenButton {
    background-color: var(--secondarycolor);
    transition: ease-in 0.3s;
}

.home3 .greenButton:hover {
    background-color: transparent;
    color: #FFD452;
    border: 1px solid #FFD452;
    transition: ease-in 0.3s;
}

.home3_button {
    background-color: #FFD452;
    border-radius: 11px;
    color: #131C1E;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 12px;
    transition: ease-in 0.3s;
}

.home3_button:hover {
    background-color: transparent;
    color: #FFD452;
    border: 1px solid #FFD452;
    transition: ease-in 0.3s;

}

.home3 .bannerWatchBtn {
    border-radius: 11px;
    border: 1px solid var(--neutralColor2);
    color: var(--neutralColor2);
}

.home3 .grey2 {
    color: var(--textColor);
}

.home3 .category_course {
    border-radius: 12px;
    background: var(--neutralColor2);
    box-shadow: 0px 20px 20px 0px rgba(102, 99, 255, 0.08);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: start;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.home3 .category_course:hover .course_links {
    background: var(--secondarycolor);
    transition: ease-in-out 0.5s;
}

.home3 .category_course:hover button {
    background: var(--secondarycolor);
    transition: ease-in-out 0.5s;
}

.home3 .category_course button {
    border-radius: 100px;
    background: #F1F1F1;
    display: flex;
    width: 125px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home3 .category_course p {
    color: var(--Color-Option-Neutral-color-1, #131C1E);
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

/* .category_course a {} */
.category_course .course_links {

    background-color: transparent;
    border-radius: 50%;
    height: 60px !important;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home3 .popular_categoris {
    background-color: #1A2224;
    padding: 126px 0;
}


/* provide_best_wrapper start */
.home3 .provide_best_wrapper p {
    color: var(--Color-Option-Text-Color-2, #BCBCBC);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.home3 .provide_best_wrapper h3 {

    color: var(--secondarycolor);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.home3 .provide_best_wrapper h2 {
    font-size: 44px;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    line-height: 150%;
    margin-top: 24px;
    margin-bottom: 24px;

}

.yellow_btn {
    display: flex;
    height: 57px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 11px;
    background: var(--secondarycolor);
}

.yellow_btn:hover .d_block_hover {
    display: none;
}

.yellow_btn:hover .d_block_nohover {
    display: block;
}

.yellow_btn .d_block_nohover {
    display: none;
}

.yellow_btn:hover .yellow_btn img {
    display: none;
}

.yellow_btn:hover {
    background-color: transparent;
    color: #FFD452;
    border: 1px solid #FFD452;
    transition: ease-in 0.3s;
}

/* provide_best_wrapper end */


/* upcoming_events_wrapper start */
.home3 .upcoming_events_wrapper .events_header h2 {
    color: var(--neutralColor2);
    font-family: Syne;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.events_card_wrapper .events_title {
    color: var(--neutralColor2);
    font-family: 'Syne', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-top: 25px;
    /* 48px */
}

.events_card_wrapper .events_card {
    border-radius: 28px;
    border: 1px solid var(--other-color-option-other-color-2-stroke, #464646);
    background: var(--Color-Option-Neutral-color-1, #131C1E);
    margin-bottom: 30px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    border: 1px solid var(--other-color-option-other-color-4-stroke, #464646);

}

.events_card:hover {
    background-color: var(--neutralColor2);
    transition: ease-in-out 0.3s;
    cursor: pointer;

}

.events_card:hover .events_title {
    color: var(--neutralColor);
    transition: ease-in-out 0.3s;
    cursor: pointer;

}

.events_card:hover .grey_text_1 {
    color: var(--neutralColor);
    transition: ease-in-out 0.3s;
    cursor: pointer;

}


/* upcoming_events_wrapper end */

/* testimonial section start  */
.border_bottom {
    width: fit-content;
    border-bottom: 1px solid #464646;
    margin: auto;
}

/* testimonial section end */

/* blog start */
.blog_btn {
    display: flex;
    width: 142px;
    height: 40px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #FFF;
}

.blog_card_body {
    transition: ease-in-out 0.3s;
}

.blog_card_body:hover .blog_btn {
    background: #FFEDB6;
    transition: ease-in-out 0.3s;
}

.blog_card_body:hover .blog_details_arrow {
    background: var(--secondarycolor);
    transition: ease-in-out 0.3s;
}

.home3 .blog_card {
    border-radius: 18px;
    border: 1px solid #747474;
    background: #131C1E;
}

.blog_card_body {
    padding: 24px;
}

.blog_card_body h3 {
    color: var(--neutralColor2);
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.blog_details_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #FFF;
    border-radius: 50%;
}

/* blog end */
.home3 .membership_wrapper {
    background-color: var(--secondarycolor);
}

@media(max-width:768px) {

    .home3_bg {
        background: #1A2224;
        padding: 48px 0;
    }

    .home3 .popular_categoris {
        padding: 56px 24px 24px 24px !important;
    }

    .home3 .category_course {
        flex-direction: column;
        align-items: center;
    }

    .home3 .category_course p {
        text-align: center;
    }

    .home3 .provide_best_wrapper p {
        font-size: 16px;
    }

    .home3 .provide_best_wrapper h3 {
        font-size: 18px;
    }

    .home3 .provide_best_wrapper h2 {
        font-size: 24px;
        font-weight: 600;

    }

    .home3 .category_title {
        font-size: 24px;
        margin-top: 24px;
    }

    /*  */
    .events_card_wrapper .events_title {
        font-size: 18px;
        text-align: center;
    }

    .events_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home3 .upcoming_events_wrapper .events_header h2 {
        font-size: 24px;
        margin-top: 24px;
    }


    .home3 .membership_wrapper h1 {
        font-size: 22px;
    }

    .email_arrow {
        position: absolute;
        top: 2px;
        right: 0%;
    }

}

.owl-carousel {
    display: block !important;
}

.home3 footer ul>li>a {
    color: #BCBCBC !important;

    /* B2/Body 2 (Regular) */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.home3 .authBtn a:first-child {
    color: #fff !important;
}

.home3_testimonial_slider .slick-dots .slick-active button:before {
    border-color: #FFD452;
}

.home3_testimonial_slider .slick-dots li button:before {
    color: #747474;
}

@media(max-width:768px) {
    .home3_testimonial_slider .slick-dots {
        bottom: -49px !important;
    }

    .home3_button {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .banner_images {
        flex-direction: column-reverse;
        /* margin-top: 48px !important; */
    }
    .banner_images p {
        margin-bottom: 12px !important;
        margin-top: 48px;

    }
}

.banner_images {
    display: flex;
    align-items: center;
    gap: 12px;
}

.banner_images span {
    color: var(--Color-Option-Neutral-color-2, #FFF);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.banner_images p {
    color: var(--Color-Option-Text-Color-2, #BCBCBC);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}